/*******************************
  STEP 1
*******************************/

ul.flex-step-1 {
  background-color: #09073e;
  margin: 0px;
  padding: 30px;
  list-style: none;

  /* Add display flex to make it a flex object */
  display: flex;

  /* Add the flex direction */
  flex-direction: row;

  /* Add flex wrap to let them wrap */
  flex-wrap: wrap;

  /* Add Justify content and experiment with the different options */
  justify-content: space-between;
}

/* You don't need to change anything in here */
ul.flex-step-1 > li {
  border-radius: 10px;
  padding: 10px;
  background-color: #eee;
}

/* You don't need to change anything in here */
ul.flex-step-1 > li a {
  color: #eee;
  text-decoration: none;
}

/*******************************
  STEP 2
*******************************/

ul.flex-step-2 {
  background-color: #100d74;
  margin: 0px;
  padding: 30px;
  list-style: none;

  /* Add display flex to make it a flex object */
  display: flex;

  /* Add the flex direction */
  flex-direction: row;

  /* Add flex wrap to let them wrap */
  flex-wrap: wrap;

  /* Add Justify content and experiment with the different options */
  justify-content: center;
}

ul.flex-step-2 > li {
  padding: 10px;
  width: 100px;
}

/*******************************
  STEP 3
*******************************/

.parent {
  background-color: #100d74;
  margin: 0px;
  padding: 30px;
  height: 400px;

  /* Add display flex to make it a flex object */
  display: flex;

  /* Add the flex direction */
  flex-direction: row;

  /* Add flex wrap to let them wrap */
  flex-wrap: wrap;

  /* Add Justify content and experiment with the different options */
  justify-content: center;

  /* Add Align items to center vertically */
  align-items: center;
}

.child {
  width: 100px;
  color: #eee;
  border-radius: 10px;
  padding: 10px;
  background-color: #e500a4;
}

/******************************/
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(247, 249, 247);
}

h1 {
  padding: 50px;
  margin-bottom: 50px;
  background-color: black;
  color: #eee;
  text-align: center;

  background-color: #ff3cac;
  background-image: linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );
}

/*

  Colour palette:

  https://coolors.co/palette/2d00f7-6a00f4-8900f2-a100f2-b100e8-bc00dd-d100d1-db00b6-e500a4-f20089

*/

ul > li:nth-child(1) {
  background-color: #2d00f7;
}
ul > li:nth-child(2) {
  background-color: #6a00f4;
}
ul > li:nth-child(3) {
  background-color: #8900f2;
}
ul > li:nth-child(4) {
  background-color: #a100f2;
}
ul > li:nth-child(5) {
  background-color: #b100e8;
}
ul > li:nth-child(6) {
  background-color: #bc00dd;
}
ul > li:nth-child(7) {
  background-color: #3f37c9;
}
ul > li:nth-child(8) {
  background-color: #d100d1;
}
ul > li:nth-child(9) {
  background-color: #db00b6;
}
ul > li:nth-child(10) {
  background-color: #e500a4;
}
